<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/courses.css">
    <title>Courses</title>
</head>
<body onload="carregar()">
    <header>
        <div class="container cabecalho">
            <img src="../images/logo.png" alt="logo">
            <form action="/accountPage" method="GET">
                <input type="submit" value="account">    
            </form>
        </div>
    </header>
    <section class="container">
        <div class="topicos">
            <h6>PYTHON</h6>
            <h6>JAVA</h6>
            <h6>DART</h6>
            <h6>JAVASCRIPT</h6>
            <h6>SQL</h6>
        </div>
    </section>
    <!-- <section class="container coursesDisplay">
        <div id="pythonVideos">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/IJ0n6XOjuXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="javaCourses">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/IJ0n6XOjuXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="dartCourses">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/IJ0n6XOjuXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="jsCourses">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/IJ0n6XOjuXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="sqlCourses">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/IJ0n6XOjuXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section> -->
    <div id="feed">
    </div>
    <script src="../js/courses.js"></script>
</body>
</html>